# Windows
Thumbs.db
Desktop.ini

# Python
.mypy_cache/
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.venv/

# Build Files
build/
dist/
*.spec

# SQlite3
*.db
*.sqlite
*.sqlite3

# Qt / QML
.qmlcache/
.qmake.stash
*.qmlc
*.jsc
*.pyc
*.user
*.user.*
QtProject/
*.dll
lottietoqml

# IDEs
.vscode/
.history/

# Logs
*.log
*.temp
.coverage
htmlcov/
.pytest_cache/

# Secrets / Config
secrets.json
config.json
.env